/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #map {
 	height: 100vh;
 } 

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body, html {
    margin:0;
    height:100%;
    padding:0;
}

/*#logo {
	background-image: url("../img/redLogo.png");
} */

#logo{
	height: 64px;
}

.navBar {
	background-color: #C0392B;
}
#container{
    height: 100vh;
}

#map {
    position: relative;
    height:91%;
}